@model List<FootballMatches.Models.Dto.LeagueDto>

<div class="leagues-container">
    @foreach (var league in Model)
    {
        <div class="league-section">
            <h2>@league.Name (@league.Code)</h2>
            <match-carousel>
                @foreach (var match in league.Matches)
                {
                    <match-card
                        datetime="@match.Date.LocalDateTime.ToString("o")"
                        team1="@(match.HomeTeam)"
                        team2="@(match.AwayTeam)"
                        team1-crest="@(match.HomeTeamCrestUrl)"
                        team2-crest="@(match.AwayTeamCrestUrl)"
                        odds1="@match.HomeWin"
                        oddsX="@match.Draw"
                        odds2="@match.AwayWin">
                    </match-card>
                }
            </match-carousel>
        </div>
    }
</div>