<div class="league-carousel-container">
    <h2 class="league-title">@Model.LeagueName</h2>
    <match-carousel class="carousel">
        @foreach (var match in Model.Matches)
        {
            <match-card>
                <div class="match-card">
                    <p class="match-date">@match.Date.ToString("dd.MM HH:mm")</p>
                    <p class="match-teams">
                        <strong>@match.HomeTeam</strong> vs <strong>@match.AwayTeam</strong>
                    </p>
                    <div class="match-odds">
                        <div class="odds"><p>@match.HomeTeam</p><p class="odds-value">@match.Odds1</p></div>
                        <div class="odds"><p>Draw</p><p class="odds-value">@match.OddsDraw</p></div>
                        <div class="odds"><p>@match.AwayTeam</p><p class="odds-value">@match.Odds2</p></div>
                    </div>
                </div>
            </match-card>
        }
    </match-carousel>
</div>